.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   left: 30px;
   right: 30px;
   top: 30px;
   bottom: 30px;
   background-color: #011627;
   border-radius: 8px;
   border: 1px solid #1E2D3D;
}