

// ===== Section About Start =============================================================== //

// .about-me-wrapper {
// }

.about {
   position: absolute;
   left: 0;
   right: 0;
   top: 58px;
   bottom: 59px;
   display: flex;
   // justify-content: space-between;
}


/*====== ABOUT ICONS ==================================================================*/

.about-icons {
   border-right: 1px solid #1e2d3d;
   height: 100%;
}

.icons-wrapper {
   display: flex;
   flex-direction: column;
   gap: 33px;
   padding-left: 24px;
   padding-top: 17px;
   padding-right: 20px;

		// .icons-wrapper__link

		&__link {
         cursor: pointer;
         transition: opacity 0.2s ease-in-out;

		}

      &__link:hover {
         opacity: 1;
         transition: opacity 0.2s ease-in-out;
   
		}
}
.professional {
}
.personal {
}
.hobbies {
}

.active-icons {
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
}



/*====== ABOUT MENU ===========================================================================*/

.about-menu {
   width: 242.5px;
   // width: 100%;
   height: 100%;
   border-right: 1px solid #1e2d3d;

}

/*====== ABOUT MENU Personal START===========================================================================*/

.menu-wrapper-personal {
   // display: none;
   min-width: 243px;
   width: 100%;
   height: 100%;
   // border-right: 1px solid #1e2d3d;
}

.menu-personal-info {
   border-bottom: 1px solid #1e2d3d;

   // .menu-personal-info__title

      &__title {
         position: relative;
         padding-top: 12px;
         padding-left: 34px;
         padding-bottom: 12px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #FFFFFF;
         cursor: pointer;
      }

      &__title:after {
         content: url('/img/about-me/menu/bold-arrow.svg');
         position: absolute;
         left: 14px;
         top: 13px;
         transform: rotate(-90deg);
         transition: transform 0.2s ease-in-out;
      }

      &__title.active:after {
         transform: rotate(0deg);
         transition: transform 0.2s ease-in-out;
      }

      // .menu-personal-info__item

      &__item {
         padding-top: 30px;
         padding-bottom: 20px;
         overflow: hidden;
         // display: none;
         border-bottom: 1px solid #1e2d3d;
      }

      // .menu-personal-info__subtitle

      &__subtitle {
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         // display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
      }

      &__subtitle:hover {
         color: #FFFFFF;
         transition: color 0.2s ease-in-out;
         }
         
      // .menu-personal-info__text

      &__text {
         position: relative;
         padding-left: 61px;
         margin-bottom: 15px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
      }

      &__text:before {
         content: url('/img/about-me/menu/info-folder.svg');
         position: absolute;
         left: 37px;
         top: 2.5px;
         width: 7px;
         height: 12px;
      }
}

.info-subtitle-bio {
   @extend %about-personal-property;
}

.info-subtitle-bio::after {
   content: url('/img/about-me/menu/arrow.svg');
   @extend %about-personal-arrow;
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-bio.active::after {
   transform: rotate(90deg);
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-bio::before {
   content: url('/img/about-me/menu/pink-folder.svg');
   @extend %about-personal-folder;
}

.menu-contacts {
   display: flex;
   flex-direction: column;

		// .menu-contacts__title

		&__title {
         position: relative;
         padding-top: 12px;
         padding-left: 34px;
         padding-bottom: 12px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #FFFFFF;
         cursor: pointer;
         border-bottom: 1px solid #1e2d3d;
         // border-top: 1px solid #1e2d3d;
		}

      &__title::after {
         content: url('/img/about-me/menu/bold-arrow.svg');
         position: absolute;
         left: 14px;
         top: 13px;
         transform: rotate(-90deg);
         transition: transform 0.2s ease-in-out;
      }

      &__title.active:after {
         transform: rotate(0deg);
         transition: transform 0.2s ease-in-out;
      }
      

		// .menu-contacts__email

		&__email {
         position: relative;
         padding-top: 18px;
         margin-bottom: 15px;
         padding-left: 40px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         transition: color 0.2s ease-in-out;
		}

      &__email::after {
         content: url('/img/about-me/menu/mail-icon.svg');
         position: absolute;
         left: 14px;
         top: 22px;
         width: 16.22px;
         height: 14.6px;
      }

      &__email:hover, &__phone:hover {
         color: #FFFFFF;
         transition: color 0.2s ease-in-out;
      }

		// .menu-contacts__phone

		&__phone {
         position: relative;
         padding-left: 40px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         transition: color 0.2s ease-in-out;
		}

      &__phone::after {
         content: url('/img/about-me/menu/phone-icon.svg');
         position: absolute;
         left: 14px;
         top: 1px;
         width: 16.22px;
         height: 16.22px;
      }
}

.about-menu-contacts {
   // display: none;
}

/*====== ABOUT MENU Personal END ===========================================================================*/


/*====== ABOUT MENU Professional START ===========================================================================*/

.menu-wrapper-professional {
   display: none;
   min-width: 243px;
   width: 100%;
   height: 100%;
   // border-right: 1px solid #1e2d3d;
}

.menu-professional-info {
   border-bottom: 1px solid #1e2d3d;

   // .menu-professional-info__title

      &__title {
         position: relative;
         padding-top: 12px;
         padding-left: 34px;
         padding-bottom: 12px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #FFFFFF;
         cursor: pointer;
      }

      &__title:after {
         content: url('/img/about-me/menu/bold-arrow.svg');
         position: absolute;
         left: 14px;
         top: 13px;
         transform: rotate(-90deg);
         transition: transform 0.2s ease-in-out;
      }

      &__title.active:after {
         transform: rotate(0deg);
         transition: transform 0.2s ease-in-out;
      }

      // .menu-professional-info__item

      &__item {
         padding-top: 30px;
         padding-bottom: 20px;
         overflow: hidden;
         // display: none;
         border-bottom: 1px solid #1e2d3d;
      }

      // .menu-professional-info__subtitle

      &__subtitle {
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         // display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
      }

      &__subtitle:hover {
         color: #FFFFFF;
         transition: color 0.2s ease-in-out;
         }
         
      // .menu-professional-info__text

      &__text {
         position: relative;
         padding-left: 61px;
         margin-bottom: 15px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
      }

      &__text:before {
         content: url('/img/about-me/menu/info-folder.svg');
         position: absolute;
         left: 37px;
         top: 2.5px;
         width: 7px;
         height: 12px;
      }
}


// info-subtitle-education ===============================

.info-subtitle-education {
   @extend %about-personal-property;
}

.info-subtitle-education::after {
   content: url('/img/about-me/menu/arrow.svg');
   @extend %about-personal-arrow;
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-education.active::after {
   transform: rotate(90deg);
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-education::before {
   content: url('/img/about-me/menu/blue-folder.svg');
   @extend %about-personal-folder;
}


// info-subtitle-career ====================================

.info-subtitle-career {
   @extend %about-personal-property;
}

.info-subtitle-career::after {
   content: url('/img/about-me/menu/arrow.svg');
   @extend %about-personal-arrow;
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-career.active::after {
   transform: rotate(90deg);
   transition: transform 0.2s ease-in-out;
}

.info-subtitle-career::before {
   content: url('/img/about-me/menu/purple-folder.svg');
   @extend %about-personal-folder;
}

/*====== ABOUT MENU Professional END===========================================================================*/



/*====== ABOUT MENU Hobbies START ===========================================================================*/

.menu-wrapper-hobbies {
   display: none;
   min-width: 243px;
   width: 100%;
   height: 100%;
   // border-right: 1px solid #1e2d3d;
}
.menu-hobbies-info {
   border-bottom: 1px solid #1e2d3d;
		// .menu-hobbies-info__title

		&__title {
         position: relative;
         padding-top: 12px;
         padding-left: 34px;
         padding-bottom: 12px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #FFFFFF;
         cursor: pointer;
		}

      &__title::after {
         content: url('/img/about-me/menu/bold-arrow.svg');
         position: absolute;
         left: 14px;
         top: 13px;
         transform: rotate(-90deg);
         transition: transform 0.2s ease-in-out;
      }

      &__title.active:after {
         transform: rotate(0deg);
         transition: transform 0.2s ease-in-out;
      }

		// .menu-hobbies-info__item

		&__item {
         padding-top: 30px;
         padding-bottom: 20px;
         overflow: hidden;
         // display: none;
         border-bottom: 1px solid #1e2d3d;
		}

		// .menu-hobbies-info__subtitle

		&__subtitle {
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         // display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
		}

      &__subtitle:hover {
         color: #FFFFFF;
         transition: color 0.2s ease-in-out;
         }

		// .menu-hobbies-info__text

		&__text {
         position: relative;
         padding-left: 61px;
         margin-bottom: 15px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         display: none;
         cursor: pointer;
         transition: color 0.2s ease-in-out;
      }

      &__text:before {
         content: url('/img/about-me/menu/info-folder.svg');
         position: absolute;
         left: 37px;
         top: 2.5px;
         width: 7px;
         height: 12px;
      }
}
.info-subtitle-interests {
   @extend %about-personal-property;
}

.info-subtitle-interests::after {
   content: url('/img/about-me/menu/arrow.svg');
   @extend %about-personal-arrow;
   transition: transform 0.3s ease-in-out;
}

.info-subtitle-interests.active::after {
   transform: rotate(90deg);
   transition: transform 0.3s ease-in-out;
}

.info-subtitle-interests::before {
   content: url('/img/about-me/menu/green-folder.svg');
   @extend %about-personal-folder;
}
.interests {
}


/*====== ABOUT MENU Hobbies END ===========================================================================*/



/*===== ABOUT INFO ==========================================================================*/

.about-info {
   position: relative;
   min-width: 700px;
   width: 100%;
   height: 100%;
   border-right: 1px solid #1e2d3d;
   overflow-y: auto;


}

// .about-info::after {
//    content: '';
//    position: absolute;
//    right: 26px;
//    top: 45px;
//    bottom: 0;
//    width: 1px;
//    background: #1e2d3d;
// }

.about-info::before {
   content: '';
   position: absolute;
   top: 45px;
   left: 0;
   right: 0;
   width: 100%;
   height: 1px;
   background: #1e2d3d;
}

.info-wrapper {
   position: relative;
   
}

.info-wrapper::after {
   content: '';
   position: absolute;
   top: 0;
   left: 273px;
   width: 1px;
   height: 45px;
   background: #1e2d3d;
}

.about-info-active {
   display: flex;
   align-items: center;
   justify-content: space-between;
   // width: 274px;
   padding: 12px 15px;
   // border-right: 1px solid #1e2d3d;

		// .about-info-active__title

		&__title {
         font-family: 'Fira Code';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
		}
}

.personal-text-active {
   display: none;
}

.about-info-item {
   display: flex;
   flex-direction: column;
   margin: 30px 40px;
   height: 100%;
   // background: #01122173;
   // border: 1px solid #1E2D3D;
   border-radius: 15px;
   box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
   transition-property: background, box-shadow, color, transform;
   transition-duration: 0.2s;
   transition-timing-function: linear;

      &:hover {
         box-shadow: inset 0.1px 0.1px 10px #00000034, 0.1px 0.1px 10px #4d5cce67;
         transform: scale(1.01);
         background: #01122173;
         transition-property: background, box-shadow, color, transform;
         transition-duration: 0.2s;
         transition-timing-function: linear;
      }

      &:hover &__stroke {
         color: #ffffffb6;
         transition-property: background, box-shadow, color, transform;
         transition-duration: 0.2s;
         transition-timing-function: linear;
      }
   

		// .about-info-item__text

		&__text {
         position: relative;
         padding: 40px 30px;
         // margin-bottom: 100px;
         height: 100%;
		}

      // &__text::after {
      //    content: '';
      //    position: absolute;
      //    right: 3.75px;
      //    top: 4.9px;
      //    width: 18.5px;
      //    height: 7px;
      //    background: #607B96;
      // }

		// .about-info-item__stroke

		&__stroke {
         display: flex;
         align-items: center;
         padding-bottom: 3px;
         font-weight: 450;
         font-size: 18px;
         line-height: 150%;
         color: #607B96;
         
      }

		// .about-info-item__number

		&__number {
         padding-right: 40px;
		}
}


.two-digit-number {
   padding-right: 30px;
}

.personal-info {
   display: none;
}


// .about-info-btn =========================================================

.about-info-btn {
   // position: absolute;
   // bottom: 10%;
   // right: 50%;
   // left: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 40px;
}

// .about-info-btn__link

.about-info-btn__link {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 10px 14px;
   color: #607B96;
   background-color: #607B96;
   font-size: 16px;
   font-weight: 500;
   // line-height: 18px;
   letter-spacing: 0;
   transition: 0.5s;
}

.about-info-btn__link:hover {
   background: #FEA55F;
   color: #FEA55F;
   letter-spacing: 0.09em;
   box-shadow: 1px 1px 15px #FEA55F;
}

.about-info-btn__link:active {
   transform: translateY(2px);
   transition: 0.2s;
}

.about-info-btn__link::before {
   content: '';
   position: absolute;
   inset: 2px;
   background: #011627;
}

.about-info-btn__link span {
   position: relative;
   z-index: 1;
}

.about-info-btn__link i {
   position: absolute;
   inset: 0;
   display: block;
}

.about-info-btn__link i::before {
   content: '';
   position: absolute;
   top: 0;
   left: 80%;
   width: 10px;
   height: 4px;
   background: #011627;
   transform: translateX(-50%) skewX(325deg);
   transition: 0.5s;
}

.about-info-btn__link:hover i::before {
   width: 15px;
   left: 20%;
}

.about-info-btn__link i::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 20%;
   width: 10px;
   height: 4px;
   background: #011627;
   transform: translateX(-50%) skewX(325deg);
   transition: 0.5s;
}

.about-info-btn__link:hover i::after {
   width: 15px;
   left: 80%;
}
// .about-info-btn =========================================================


/*====== ABOUT SNIPPET ====================================================================*/

.about-snippet {
   position: relative;
   margin-top: 45px;
   min-width: 771px;
   width: 100%;
   border-top: 1px solid #1e2d3d;
   // height: 100%;
   box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
   overflow-y: auto;


		// .about-snippet__title

		&__title {
         margin-bottom: 65px;
         font-weight: 450;
         font-size: 18px;
         line-height: 24px;
         color: #607B96;
		}
}

// .about-snippet::before {
//    content: '';
//    position: absolute;
//    right: 26px;
//    top: 0;
//    bottom: 0;
//    width: 1px;
//    height: 100%;
//    background: #1e2d3d;
// }

.snippet-wrapper {
   padding-top: 30px;
   padding-left: 40px;
   padding-right: 40px;
   position: relative;
}

// .snippet-wrapper::after {
//    content: '';
//    position: absolute;
//    right: 3.75px;
//    top: 4.9px;
//    width: 18.5px;
//    height: 7px;
//    background: #607B96;
// }

.about-snippet-item {
   position: relative;
}

.two-block {
   margin-top: 55px;
}

.about-snippet-user {
   margin-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;

		// .about-snippet-user__photo

		&__photo {
         margin-right: 10.5px;
         width: 39px;
         height: 39px;
         border-radius: 50%;
         object-fit:cover;
         object-position: center;
		}

      // .about-snippet-user__info

      &__info {
         display: flex;
         flex-direction: column;
      }

		// .about-snippet-user__name

		&__name {
         padding-bottom: 2px;
         font-weight: 700;
         font-size: 14px;
         line-height: 18px;
         color: #5565E8;
		}

		// .about-snippet-user__data

		&__data {
         font-weight: 450;
         font-size: 12px;
         line-height: 16px;
         color: #607B96;
		}
}
.about-snippet-username {
   display: flex;
}

.about-snippet-user-details {
   display: flex;
   gap: 41px;

		// .about-snippet-user-details__text

		&__text {
         font-weight: 450;
         font-size: 14px;
         line-height: 18px;
         text-align: right;
         color: #607B96;
		}
}

.details-top, .details-bottom {
   position: relative;
   transition: color 0.2s ease-in-out;
}

.details-top:hover, .details-bottom:hover {
   color: #FFFFFF;
   cursor: pointer;
   transition: color 0.2s ease-in-out;
}

.details-top::before, .details-bottom::before {
   content: url('/img/about-me/snippet/comments-icon.svg');
   position: absolute;
   width: 18px;
   height: 18px;
   left: -23px;
   top: -2px;
}

.snippet-stars-top, .snippet-stars-bottom {
   position: relative;
}

.snippet-stars-top::before, .snippet-stars-bottom::before {
   content: url('/img/about-me/snippet/star-nofill.svg');
   position: absolute;
   width: 18px;
   height: 18px;
   left: -23px;
   top: -2px;
}

.about-snippet-block {
   margin-bottom: 19px;
   border-radius: 15px;
   transition-property: transform, box-shadow;
   transition-duration: 0.2s;
   transition-timing-function: linear;


		// .about-snippet-block__code

		&__code {
         padding: 23px 30px;
         background: #0112217e;
         border: 1px solid #1E2D3D;
         border-radius: 15px;
         box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
		}

		// .about-snippet-block__text

		&__text {
         font-weight: 450;
         font-size: 14px;
         line-height: 170%;
         color: #607B96;
		}
}

.about-snippet-block:hover {
   box-shadow: inset 0.1px 0.1px 10px #00000034, 0.1px 0.1px 10px #43d9ac34;
   transform: scale(1.01);
   transition-property: transform, box-shadow;
   transition-duration: 0.2s;
   transition-timing-function: linear;
}


/*===== Function element color =====*/
.one-color {
   color: #E99287;
}

.two-color {
   color: #43D9AD;
}

.three-color {
   color: #5565E8;
}

.four-color {
   color: #C98BDF;
}

.five-color {
   color: #FEA55F;
}
/*===== Function element color =====*/


.about-snippet-details {
   margin-bottom: 50px;
   display: block;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #1e2d3d;

		// .about-snippet-details__text

		&__text {
         padding-top: 17px;
         font-weight: 450;
         font-size: 14px;
         line-height: 150%;
         color: #607B96;
		}

		// .about-snippet-details__close

		&__close {
         width: 18px;
         height: 18px;
         fill: #607B96;
         transition: fill 0.1s ease-in-out;
		}

      &__close:hover {
         fill: #FFFFFF;
         transition: fill 0.1s ease-in-out;
      }
}

.details-one {
   display: none;
}

.details-two {
   display: none;
}


/* Классы для JavaScript About Menu===========================================================*/

.active {
   display: block;
}

.white-text {
   color: #FFFFFF;
   transition: color 0.2s ease-in-out;
}

.active-text-color {
   color: #E99287;
   transition: color 0.2s ease-in-out;
}

/* ======================================================================================*/