

.main {
}

.contacts {
	position: absolute;
   left: 0;
   right: 0;
   top: 58px;
   bottom: 59px;
   display: flex;
	// flex: 1 1 50%;
}

.contacts-menu {
	display: flex;
	flex-direction: column;
   min-width: 310.5px;
	height: 100%;
	border-right: 1px solid #1e2d3d;

		// .contacts-menu__title

		&__title {
			position: relative;
         padding-top: 12px;
         padding-left: 34px;
         padding-bottom: 12px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #FFFFFF;
         cursor: pointer;
         border-bottom: 1px solid #1e2d3d;
		}

		&__title::after {
         content: url('/img/about-me/menu/bold-arrow.svg');
         position: absolute;
         left: 14px;
         top: 13px;
         transform: rotate(-90deg);
         transition: transform 0.2s ease-in-out;
      }

		&__title.active-contacts:after {
         transform: rotate(0deg);
         transition: transform 0.2s ease-in-out;
      }

		// .contacts-menu__list

		&__list {
		}

		// .contacts-menu__email

		&__email {
			display: block;
         position: relative;
         padding-top: 20px;
         margin-bottom: 15px;
         padding-left: 40px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         transition: color 0.2s ease-in-out;
		}

      &__email::after {
         content: url('/img/about-me/menu/mail-icon.svg');
         position: absolute;
         left: 14px;
         top: 22px;
         width: 16.22px;
         height: 14.6px;
      }

      &__email:hover, &__phone:hover {
         color: #FFFFFF;
         transition: color 0.2s ease-in-out;
      }

		// .contacts-menu__phone

		&__phone {
			display: block;
         position: relative;
         padding-left: 40px;
			margin-bottom: 20px;
         font-weight: 400;
         font-size: 16px;
         line-height: 21px;
         color: #607B96;
         transition: color 0.2s ease-in-out;
		}

      &__phone::after {
         content: url('/img/about-me/menu/phone-icon.svg');
         position: absolute;
         left: 14px;
         top: 1px;
         width: 16.22px;
         height: 16.22px;
      }
}

.contacts-menu-find__title {
	position: relative;
	padding-top: 12px;
	padding-left: 34px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	cursor: pointer;
	border-top: 1px solid #1e2d3d;
	border-bottom: 1px solid #1e2d3d;
}

.contacts-menu-find__title::after {
	content: url('/img/about-me/menu/bold-arrow.svg');
	position: absolute;
	left: 14px;
	top: 13px;
	transform: rotate(-90deg);
	transition: transform 0.2s ease-in-out;
}

.contacts-menu-find__title.active-contacts:after {
	transform: rotate(0deg);
	transition: transform 0.2s ease-in-out;
}


.link-find {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 9px;
	width: 16px;
   height: 16px;
   fill: #607b96;
}

.contacts-menu-find {
	display: flex;
	flex-direction: column;

		// .contacts-menu-find__list

		&__list {
			padding-left: 15px;
		}

		// .contacts-menu-find__link

		&__link {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #607B96;
         transition: color 0.2s ease-in-out;
		}

		&__link:hover {
			color: #FFFFFF;
         transition: color 0.2s ease-in-out;
		}
}




.contacts-form {
	position: relative;
	min-width: 630px;
	width: 100%;
	height: 100%;
   border-right: 1px solid #1e2d3d;
   overflow-y: auto;



		&__label {
			margin-bottom: 10px;
			min-width: 372px;
			width: 100%;
			font-size: 16px;
			line-height: 21px;
			color: #607B96;
		}

		// .contacts-form__name

		&__name {
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
		}

		// .contacts-form__email

		&__email {
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
		}

		// .contacts-form__text

		&__text {
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
		}

		&__btn {

		}
}

#name, #email {
	width: 100%;
	height: 41px;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: #465E77;
	background-color: #011221;
	border: none;
	outline: 1px solid #1E2D3D;
}

#name:focus, #email:focus, #message:focus {
	border: 1px solid rgba(96, 123, 150, 1);
	box-shadow: inset 0.1px 0.1px 10px #00000034, 0.1px 0.1px 8px #4d5cce67;
}

#name._error {
	box-shadow: inset 0.1px 0.1px 10px #00000034, 0.1px 0.1px 8px red;
}

#message {
	// height: 145px;
	// max-width: 342px;
	resize: none;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: #465E77;
	background-color: #011221;
	border: none;
	outline: 1px solid #1E2D3D;
}

.contacts-form-title {
	padding: 12px 0px 12px 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #607B96;
	border-bottom: 1px solid #1e2d3d;
}

.contacts-form-item {

}

.contacts-form-left {
	display: flex;
	flex-direction: column;
	// align-items: center;
	// max-width: 630px;
	width: 100%;
	height: 100%;
	padding: 115px 130px;
}

.contacts-form-action {
	
}



/* ================== FORM BTN ==================== */
.contacts-form__button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contacts-form__btn {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 10px 14px;
	// margin-right: 15px;
   color: #607B96;
   background-color: #607B96;
   font-size: 14px;
   font-weight: 450;
   // line-height: 18px;
   letter-spacing: 0;
   transition: 0.5s;
}

.contacts-form__btn:hover {
   background: #FEA55F;
   color: #FEA55F;
   letter-spacing: 0.09em;
   box-shadow: 1px 1px 15px #FEA55F;
}

.contacts-form__btn:active {
   transform: translateY(2px);
   transition: 0.2s;
}

.contacts-form__btn::before {
   content: '';
   position: absolute;
   inset: 2px;
   background: #011627;
}

.contacts-form__btn span {
   position: relative;
   z-index: 1;
}

.contacts-form__btn i {
   position: absolute;
   inset: 0;
   display: block;
}

.contacts-form__btn i::before {
   content: '';
   position: absolute;
   top: 0;
   left: 80%;
   width: 10px;
   height: 4px;
   background: #011627;
   transform: translateX(-50%) skewX(325deg);
   transition: 0.5s;
}

.contacts-form__btn:hover i::before {
   width: 15px;
   left: 20%;
}

.contacts-form__btn i::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 20%;
   width: 10px;
   height: 4px;
   background: #011627;
   transform: translateX(-50%) skewX(325deg);
   transition: 0.5s;
}

.contacts-form__btn:hover i::after {
   width: 15px;
   left: 80%;
}
/* ================== FORM BTN ==================== */





.contacts-form-right {
	// display: flex;
	// // flex-direction: column;
	// align-items: center;
	margin-top: 45px;
	padding: 115px 75px 0px 110px;
	min-width: 841px;
	width: 100%;
	height: 70%;
	border-top: 1px solid #1e2d3d;
	overflow-y: auto;

		// .contacts-form-right__text

		&__text {
		}

		// .contacts-form-right__stroke

		&__stroke {
			display: flex;
			font-weight: 450;
			font-size: 18px;
			line-height: 150%;
			color: #607B96;
		}

		// .contacts-form-right__number

		&__number {
         padding-right: 40px;
		}
}

.two-digit-number {
   padding-right: 30px;
}

.purple {
	color: rgba(201, 139, 223, 1);
}

.blue {
	color: rgba(85, 101, 232, 1)
}

.orange {
	color: rgba(254, 165, 95, 1);
}